@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --background-main-color: rgb(245, 245, 245);
    --background-second-color: rgb(255, 255, 255);
    --background-accent-color: rgb(44, 44, 44, 1);
    --border-color: rgb(217, 217, 217);

    --border-radius: 0.45em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

body {
    background-color: var(--background-main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    width: 600px;
    height: 600px;
    background-color: var(--background-second-color);
    border: 1px solid var(--border-color);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 1em;
    -webkit-box-shadow: 9px 9px 11px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 9px 9px 11px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 9px 9px 11px 0px rgba(34, 60, 80, 0.2);
    overflow: hidden;
    overflow-y: auto;
}

#todo-form {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

input[type="text"] {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 12px;
    width: 100%;
}

button {
    border: none;
    background-color: var(--background-accent-color);
    border-radius: var(--border-radius);
    color: var(--background-second-color);
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

button:hover {
    background-color: rgb(61, 59, 59);
    scale: 1.02;
}

#add-btn {
    padding: 12px;
}

.del-btn {
    background-color: transparent;
    border: none;
    padding: 12px;
}

.del-btn:hover {
    background-color: transparent;
    scale: 1.1;
}

.change-btn {
    padding: 6px 12px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

li {
    list-style-type: none;
    border: 1px solid var(--border-color);
    display: flex;
    padding: 6px;
    border-radius: var(--border-radius);
    align-items: center;
    justify-content: space-between;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    margin-left: 6px;
}

input[type="checkbox"]:checked {
    accent-color: var(--background-accent-color);
}

h1, h2 {
    text-align: center;
    color: var(--background-accent-color);
}

.to-do-stat-del-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#del-btn-all {
    padding: 12px;
    background: none;
    color: var(--background-accent-color);
    font-size: 1rem;
}

.chkbox {
    border: none;
}

.completed > .todo-title > label {
    text-decoration: line-through;
    color: gray;
}

mark {
    background-color: #717270;
    color: white;
    padding: 0 0.1em;
    border-radius: var(--border-radius);
}

.todo-options, .todo-title {
    display: flex;
    gap: 12px;
    align-items: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: var(--background-main-color);
    padding: 2rem;
    border-radius: 1rem;
    min-width: 400px;
    -webkit-box-shadow: 9px 9px 11px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 9px 9px 11px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 9px 9px 11px 0px rgba(34, 60, 80, 0.2);
}

.modal > h2, .modal input {
    margin-bottom: 1em;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.modal-buttons button {
    padding: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

#save-btn {
    background-color: rgb(100, 196, 70);
}

#save-btn:hover {
    background-color: rgb(80, 176, 50);
}
