* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(238, 238, 238);
}

header {
    background-color: #1b1b1b;
    padding: 0.5em 0;
    text-align: center;
}

body {
    background-color: rgb(97, 97, 97);
}

main {
    margin: 0.5em;
    display: flex;
    justify-content: space-between;
}

.to-do-container {
    width: 90%;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

aside {
    background-color: #242424;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    height: fit-content;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

li {
    display: flex;
    gap: 1em;
    padding: 0.5em;
    border: 1px solid #232224;
    border-radius: 5px;
    justify-content: space-between;
}

.todo-item {
    display: flex;
    gap: 0.5em;
    align-items: center;
    background-color: rgb(54, 54, 54);
}

.todo-options {
    display: flex;
    gap: 0.25em;
    align-items: center;
}

.del-btn {
    background-color: #ff4d4d;
    border: none;
    padding: 0.25em 0.5em;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.del-btn:hover {
    background-color: #b93636;
}

.change-btn {
    background-color: #eba31d;
    border: none;
    padding: 0.25em 0.5em;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.change-btn:hover {
    background-color: #c78917;
}

input[type=checkbox] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

#todo-form {
    display: flex;
    gap: 0.5em;
}

#todo-form input[type=text] {
    padding: 0.5em;
    border: 1px solid #232224;
    border-radius: 3px;
    color: rgb(39, 39, 39);
}

#todo-form button, .done-btn {
    background-color: #4CAF50;
    border: none;
    padding: 0.5em 1em;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

#todo-form button:hover, .done-btn:hover {
    background-color: #45a049;
}

.completed {
    background-color: rgb(46, 46, 46);
}

.todo-item > p {
  font-size: 1.4rem;
}

.completed > p {
    opacity: 0.4;
    text-decoration: line-through;
}

.empty-list {
    text-align: center;
    font-size: 2rem;
    background-color: rgb(46, 46, 46);
    border-radius: 0.5em;
    padding: 0.5em;
}

.to-do-stat {
    margin-top: 1em;
    font-size: 1.2rem;
}

#search-input {
    padding: 0.875em;
    border-radius: 1em;
    border: 2px solid #b6b6b6;
    margin-bottom: 1em;
    background-color: rgb(46, 46, 46);
}

mark {
    background-color: #717270;
    color: white;
    padding: 0 0.1em;
    border-radius: 0.2em;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #242424;
  padding: 2rem;
  border-radius: 1rem;
  min-width: 400px;
}

.modal > h2 {
  margin-bottom: 1em;
  text-align: center;
}

.modal input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #333;
  color: #000;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.modal-buttons button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

